.footer { 
    position: fixed;
    bottom: 0;
    font-size: 1.2rem;
    left: 0;
    padding: 1rem;
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
  } 

  div.footer > div > a{
    margin-left: 10px;
    margin-right: 10px;
 }


/* 
path{
  margin: 5px;
} */


  /* <div class="footer">
  <div class="socialLinks">
    <a href="https://www.facebook.com"><img src="/images/facebook.png" /></a>
    <a href="https://www.twitter.com"><img src="/images/twitter.png" /></a>
    <a href="https://www.instagram.com"><img src="/images/instagram.png" /></a>
  </div>
</div>

```css
.footer {
    width: 100%;
    background-color: #ccc;
    padding: 20px;
}
*/

