.sidebar {
  position: fixed;
  top: 84px; 
  left: 0;
  height: calc(100vh - 84px); 
  width: 220px;
  background-color: #635f5f;
  border-right: 1px solid #ddd;
  transition: all 0.3s ease-out;
}

.sidebar:hover {
  width: 240px;
}

.btn-group {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.btn-group a {
  padding-top: 50px;
  display: block;
  padding: 10px 20px;
  font-size: 18px;
  color: #cccdca;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.btn-group a:hover {
  background-color: #ddd;
  color: #fff;
}
